{
  "presets": [ "es2015", "stage-0", "react" ],
  "env": {
    "development": {
      "presets": [ ],
      "plugins": [ "react-hot-loader/babel" ]
    },
    "production": {
      "presets": [ ],
      "plugins": [  "lodash" ]
    }
  }
}
