<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="modern bookmark management - fully searchable, tags with
      hierarchy, build-in RSS support, auto validation over time, due dates, html snapshots">
    <link rel="shortcut icon" href="/favicon.ico">


    <title>Linky</title>
  </head>
  <body>
    <div id="root"><%- reactHtml %></div>
    <script><%- initialState %></script>


  </body>
</html>
