<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <title>Linky</title>
  </head>
  <body>
    <div id="root"><%- reactHtml %></div>
    <script>window.$REDUX_STATE = <%- initialState %></script>
    <script src="/js/bundle-vendor.js"></script>
    <script src="/js/bundle-main.js"></script>
  </body>
</html>
