DATABASE_URL="user:password@tcp(mariadb.default.svc.cluster.local:3306)/linky?parseTime=true&multiStatements=true"
JWT_EXPIRY="720h"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""
BITBUCKET_CLIENT_ID=""
BITBUCKET_CLIENT_SECRET=""
REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""
